#nav li {
  display: inline-block;
  padding: 1rem 1rem; }

#header {
  height: 100vh; }

#hero {
  top: 40%;
  position: relative; }

.hero-dark {
  width: 100%;
  background-color: black;
  position: absolute; }

.hero-image {
  width: 100%;
  position: absolute;
  height: 100vh;
  background: url("../images/hero-test.png");
  opacity: 0.5; }
