body {
  color: #000;
  font: "Andale Mono", monospace;
  font-size: 16px; }

#header {
  background: #d2e1dd;
  color: #c69;
  padding: 20rem 10rem; }

h1 {
  font-size: 32px; }

a, a:hover {
  color: #000; }

#nav li {
  display: inline-block;
  padding: 1rem 1rem; }

.uk-sticky {
  z-index: 980;
  background-color: #fff;
}