body {
  color: #000;
  font: "Andale Mono", monospace;
  font-size: 16px; }

h1 {
  font-size: 32px; }

a, a:hover {
  color: #000; }

h1 {
  color: #ffffff; }

#nav li {
  display: inline-block;
  padding: 1rem 1rem; }

#header {
  height: 100vh; }

#hero {
  top: 40%;
  position: relative; }

.hero-dark {
  width: 100%;
  background-color: black;
  position: absolute; }

.hero-image {
  width: 100%;
  position: absolute;
  height: 100vh;
  background: url("../images/hero-test.png");
  opacity: 0.5; }

.grid-pic {
  padding: 1rem; }

.uk-sticky {
  background-color: #ffffff; }
