

// VARIABLES //

$black: #000
$pale: #d2e1dd
$pink: #c69
$blue: #036

$font-stack: 'Andale Mono', monospace
$fontsize: 16px

// MIXINS //

=hero($bg, $colour, $padding)
	background: $bg
	color: $colour
	padding: $padding

// STYLES //

body
	background: $pale
	color: $blue
	font: $font-stack
	font-size: $fontsize

#header
	+hero($pale, $pink, 20rem 10rem)

h1
	font-size: $fontsize * 2
	color: $black

